pzot-electron/lib
pzot-electron/src-gen
xtext-pzot-extension/build
xtext-pzot-extension/lib
xtext-pzot-language-server/org.pzot.syntax
xtext-pzot-language-server/org.pzot.syntax.ide
xtext-pzot-language-server/\.gradle/
xtext-pzot-language-server/\.settings/

org\.pzot\.syntax/build/
org\.pzot\.syntax\.ide/build/

