circle {
    stroke: white;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

svg {
    background-color: #FFF;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  #cy {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }
  
  h1 {
    opacity: 0.5;
    font-size: 1em;
  }
  svg:not(.active):not(.ctrl) {
    cursor: crosshair;
  }
  
  path.link {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
    cursor: default;
  }
  
  svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
  }
  
  path.link.selected {
    stroke-dasharray: 10,2;
  }
  
  path.link.dragline {
    pointer-events: none;
  }
  
  path.link.hidden {
    stroke-width: 0;
  }
  
  circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
  }
  
  circle.node.reflexive {
    stroke: #000 !important;
    stroke-width: 2.5px;
  }
  
  text {
    font: 12px sans-serif;
    pointer-events: none;
  }
  
  text.id {
    text-anchor: middle;
    font-weight: bold;
  }